<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title center>IP-Cam</title>
</head>
<body>
    <h1 class="cam_desc">
        Main Camera
    </h1>
    <div>
        <img src="{{ url_for('video_feed') }}" class='video_source'/>
    </div>
    <div class='slidercontainer'>
        <h4 id="focus_name">Focus: {{ data.focus }}</h4>
        <input type="range" min="-1" max="27" value="{{ data.focus }}" class=slider id="focus_slider" oninput="changeFocus(this.value)">
    </div>
    <div class='slidercontainer'>
        <h4 id="brightness_name">Brightness: {{ data.brightness }}</h4>
        <input type="range" min="-64" max="64" value="{{ data.brightness }}" class=slider id="brightness_slider" oninput="changeBrightness(this.value)">
    </div>
    <div class='slidercontainer'>
        <h4 id="contrast_name">Contrast: {{ data.contrast }}</h4>
        <input type="range" min="0" max="90" value="{{ data.contrast }}" class=slider id="contrast_slider" oninput="changeContrast(this.value)">
    </div>
    <div class='slidercontainer'>
        <h4 id="saturation_name">Saturation: {{ data.saturation }}</h4>
        <input type="range" min="50" max="120" value="{{ data.saturation }}" class=slider id="saturation_slider" oninput="changeSaturation(this.value)">
    </div>
        
    <script>
        let brightness_slider = document.getElementById("brightness_slider")
        let focus_slider = document.getElementById("focus_slider")
        let contrast_slider = document.getElementById("contrast_slider")
        let saturation_slider = document.getElementById("saturation_slider")
        
        function prepJson(variable, value) {
            var payload = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: {
                    'focus': '{{ data.focus }}',
                    'brightness': '{{ data.brightness }}',
                    'contrast': '{{ data.contrast }}',
                    'saturation': '{{ data.saturation }}'
                }
            }
            payload['body'][variable] = value;
            payload.body = JSON.stringify(payload.body)
            return payload
        }
        
        function changeFocus(val) {
            if (focus_slider.value == -1){
                focus_name.innerText = 'Auto'
            } else {
                focus_name.innerText = 'Focus: ' + val
            }
            fetch('/change_cam_params', prepJson('focus', val))
        }

        function changeBrightness(val) {
            brightness_name.innerText = 'Brightness: ' + val
            fetch('/change_cam_params', prepJson('brightness', val))
        }

        function changeContrast(val) {
            contrast_name.innerText = 'Contrast: ' + val
            fetch('/change_cam_params', prepJson('contrast', val))
        }

        function changeSaturation(val) {
            saturation_name.innerText = 'Saturation: ' + val
            fetch('/change_cam_params', prepJson('saturation', val))
        }
    </script>
</body>


</html>